HELP.md

# Build
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven wrapper jar
.mvn/wrapper/maven-wrapper.jar

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
.idea/workspace.xml
# VS Code
.vscode/

# Vercel
vercel.json
FE/vercel.json

# Environment variables
.env
.env.local
.env.*.local

# XML files
*.xml